.container {
    max-width: 960px;
    margin: 2rem auto;
    padding: 1rem;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

nav {
    margin-bottom: 2rem;
}

nav a {
    font-weight: bold;
}

.photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.photos img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.photos img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0 0 0 / 90%);
}

.lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}